<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatiable" content="IE=edge">
        <title>MyChatroom</title>
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'navbar.html' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{message}}</li> 
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>