/* .Navbar{
    background: steelblue;
    height: 2cm;
    color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.logo{
    padding: 0.5rem;
    height: 1.5cm;
    width: 1.5cm;
} */