<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>Welcome to My Awesome Chatroom !!!</h1>
{% extends 'main.html' %}
{% block content %}
<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        <div>
            <h3>{{room_count}} rooms available.</h3>
        </div>
        {% include 'base/feed_component.html' %}
        <div>
            <a href="{% url 'create-room' %}">Create Room</a>
        </div>
    </div> 
    <div>
        <h3>Recent Activities</h3>
        <hr>
        {% include 'base/activity_component.html' %}
    </div>
</div>
{% endblock content %}
